# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore build directories
dist/
build/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore compiled files
*.out
*.class
*.o

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore coverage reports
coverage/
*.cover
*.coverage
*.cov

data_preprocess/
local_scripts/